.projects-content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img img {
  width: 100%;
  object-fit: cover;
}

.links-list p,
.technologies-list p {
  padding: 0px 10px;
  font-weight: 800;
}

.links-list a:hover {
  color: var(--color-pink);
  transition: 0.5s;
}

.project-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s;
  margin: 50px 0px;
}

#phisiocare-website .project-img,
#phisiocare-website .project-text {
  align-items: stretch;
  vertical-align: middle;
  width: 50%;
}

#phisiocare-website .project-text {
  padding-left: 20px;
}

.project-item .project-img,
.project-item .project-text {
  width: 100%;
  padding-left: 0;
}

.project-item .project-text {
  margin-top: 0;

  padding-top: 0px;
}

.project-item .project-text h2 {
  margin-top: 0;
  padding-top: 0px;

  border-bottom: solid 2px #d6d6d6;
}

.project-item .project-img {
  display: block;
  height: 30%;
  max-height: 400px;
  border: solid 1px rgb(230, 230, 230);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.project-img::-webkit-scrollbar {
  display: none;
}

.project-item .project-img img {
  width: 100%;
}

#engrenagem {
  width: 50%;
}

@media (max-width: 900px) {
  .project-item {
    flex-direction: column;
  }

  .project-item .project-img,
  .project-item .project-text,
  #phisiocare-website .project-img,
  #phisiocare-website .project-text {
    width: 100%;
  }
  #phisiocare-website .project-text {
    padding-left: 0px;
  }

  .project-item .project-text {
    padding-top: 30px;
    padding-left: 0px;
  }

  .project-item .project-img {
    max-height: 300px;
  }
}
